:root{
    font-family:'Oswald';
    font-size:20px;
    font-weight:regular;
    background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
    color:#ffff;
}

body{
padding:5px;
font-size:var(--font-size);
background:var(--background);
font-family:var(--font-family);
margin-bottom:40px;
margin-left: 20px;
}

#info{
    display:flex;

}

#list{
    width:80%;
    border-style: inherit;
    border-collapse:collaspe;
    padding:15px;
    display:flex;
    flex-direction:row;
    color:#ffff;
}


h1{
    border:5px;
    padding:10px;
    outline:none;
    color:orange;
    text-align:center;
}

button{
    display:block;
    border-radius:15px;
    padding:10px;
    margin:0 auto;
    background:orange;
    color:var(--color);
    cursor: pointer;
}

input{
    display:flex;
    
}

label{
    color:orange;
}